<% const page='about'; %>
<!DOCTYPE html>
<html lang="ja">
<%- include('../includes/_head.ejs', {
  path: "../",
  url: "/feature/",
  title: "Features of FAW | Flex Arm FAW | CKD株式会社",
  keywords: "Flex Arm,助力装置,バランサ,作業負担軽減, コンパクト",
  description: "フレックスアームは、「働く人のために」をコンセプトに、職場での作業負担軽減と作業者の安全確保に貢献する「ヒューマンアシスト製品」です。"}); 
  %>

<body id="feature">
  <%- include('../includes/_header.ejs', {path: "../"}); %>
  <main>
    <section class="common-main-visual">
      <h1 class="common-main-visual__title">Flex Arm Features</h1>
      <p class="common-main-visual__lead">Usable in a wide area even in narrow sites.</p>
    </section>

    <div class="l-inner">
      <ol class="cm-breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="https://www.ckd.co.jp/kiki/en/" target="_blank">
            <span itemprop="name">Component products TOP</span>
          </a>
          <meta itemprop="position" content="1">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="../">
            <span itemprop="name">Flex Arm</span>
          </a>
          <meta itemprop="position" content="2">
        </li>
        <li class="cm-breadcrumb__item" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="#">
            <span itemprop="name">Flex Arm Features</span>
          </a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </div>

    <section id="three-feature" class="feature">
      <div class="l-inner">
        <ul class="feature__anchor-links">
          <li><a href="#three-feature">Three Features </a></li>
          <li><a href="#chart">Assisting Device Comparison Chart </a></li>
          <li><a href="#line-up">Options</a></li>
        </ul>
        <p class="feature__top-lead--l">「The Flex Arm」</p>
        <p class="feature__top-lead">
          The Flex Arm is an air balancer with a wide operating range that supports a rated payload of 50 kg.<br>
          It can be mounted on columns or ceilings, allowing for flexible adaptation to sites with low ceilings or limited floor space.<br>
          It can be adapted to sites where installing assisting devices was previously difficult, contributing to improved work efficiency and workplace enhancement.
        </p>
        <h2 class="feature__title">
          Features of the "Flex Arm" Assisting Device
        </h2>
        <ul class="common-feature__list feature__list">
          <li class="common-feature__item">
            <a href="#box01">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">01</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Simple</h3>
                  <div class="common-feature__card-img -img01"><img src="../assets/images/feature_img_01.png?240920" alt="フレキシブルで軽い操作感"></div>
                </div>
                <p class="common-feature__card-lead">Simple Structure & <br>Easy Operation</p>
              </div>
            </a>
          </li>
          <li class="common-feature__item">
            <a href="#box02">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">02</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Wide</h3>
                  <div class="common-feature__card-img -img02"><img src="../assets/images/feature_img_02.png?240920" alt="コンパクトで取り付けが簡単"></div>
                </div>
                <p class="common-feature__card-lead">Wide Operating Range,<br>Minimal Height</p>
              </div>
            </a>
          </li>
          <li class="common-feature__item">
            <a href="#box03">
              <div class="common-feature__card">
                <div class="common-feature__card-floating-text">
                  POINT
                  <span class="common-feature__card-floating-text--l">03</span>
                </div>
                <div class="common-feature__text-blk">
                  <h3 class="common-feature__card-title common-en-bold">Safety</h3>
                  <div class="common-feature__card-img -img03"><img src="../assets/images/feature_img_03.png?240920" alt="安全機構により誰でも安全に使用可能"></div>
                </div>
                <p class="common-feature__card-lead">Safe for Anyone<br>to Use</p>
              </div>
            </a>
          </li>
        </ul>

        <!-- POINT01 -->
        <div class="feature__article" id="point01">
          <div class="feature__box" id="box01">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">01</span>
              <span class="feature__box-text feature__box-text--m">Simple</span>
            </h3>
            <p class="feature__box-lead">Simple Structure & Easy Operation</p>
          </div>
          <p class="feature__point-txt">With its intuitive structure, anyone can handle it right away. No complex operations or adjustments are required.</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">Easy Transport of Heavy Objects</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">Powered by compressed air, you can work while holding heavy objects of up to 50 kg (including attachment weight) with light operation.</p>
                <div class="common-section__card-image  --image01">
                  <img src="../assets/images/feature/feature_list_img_01.png" alt="軽い操作性">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">Workpiece Weight Detection System</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  The workpiece weight detection system can detect the weight of any workpiece within the payload capacity.<br>
                  It can easily balance multiple workpieces with different weights, allowing anyone to work smoothly.
                </p>
                <div class="common-section__card-image  --image02">
                  <img src="../assets/images/feature/feature_list_img_02.png" alt="水平アームと垂直ガイド">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">
                Simple Structure for<br>
                Easy Maintenance
              </h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">The simple structure using an air cylinder allows for easy maintenance and provides stable operation.</p>
                <div class="common-section__card-image  --image03">
                  <img src="../assets/images/feature/feature_list_img_03.png" alt="上下任意位置でバランス">
                </div>
              </div>
            </li>
          </ul>
        </div>

        <!-- POINT02 -->
        <div class="feature__article" id="point02">
          <div class="feature__box" id="box02">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">02</span>
              <span class="feature__box-text feature__box-text--m">Wide</span>
            </h3>
            <p class="feature__box-lead">Wide Operating Range, Minimal Height</p>
          </div>
          <p class="feature__point-txt">It has a wide range of motion and a low overall height compared to the stroke, allowing it to flexibly handle even in small spaces.</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">Wide Operating Range</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">With a wide operating range of a 2.5 m turning radius and a 1.5 m vertical stroke, a single unit can cover an extensive work area.</p>
                <div class="common-section__card-image  --image04">
                  <img src="../assets/images/feature/feature_list_img_04.jpeg" alt="Wide Operating Range">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">Wide 320° Rotation Range</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  The arm can rotate up to 320°, flexibly adapting to a wide work area.<br>
                  It is also possible to apply a rotation restriction at any position, allowing for operation that considers safety and workability.
                </p>
                <div class="common-section__card-image  --image05">
                  <img src="../assets/images/feature/feature_list_img_05.jpeg" alt="Wide 320° Rotation Range">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">Can Be Installed Even in Low-Ceiling Areas</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  With a low overall height of 2.5 m, it can be installed without issue even in sites with low ceilings.<br>
                  *Height varies depending on the specifications.
                </p>
                <div class="common-section__card-image  --image06">
                  <img src="../assets/images/feature/feature_list_img_06.jpg" alt="Can Be Installed Even in Low-Ceiling Areas">
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <!-- POINT03 -->
        <div class="feature__article" id="point03">
          <div class="feature__box" id="box03">
            <h3 class="feature__box-title-wrap">
              <span class="feature__box-text feature__box-text--s">POINT</span>
              <span class="feature__box-text feature__box-text--l">03</span>
              <span class="feature__box-text feature__box-text--m">Safety</span>
            </h3>
            <p class="feature__box-lead">Safe for Anyone to Use</p>
          </div>
          <p class="feature__point-txt">With a design that emphasizes safety, even first-time users can use it with peace of mind.</p>
  
          <ul class="common-section__list">
            <li class="common-section__card">
              <h4 class="common-section__card-title">All-Air Specification</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">Because it is an all-air specification that does not require a power source, it can be used safely even in sites where explosion-proofing is required.</p>
                <div class="common-section__card-image  --image07">
                  <img src="../assets/images/feature/feature_list_img_07.jpg" alt="It also contributes to reducing risks at the worksite.">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">
                Drop Prevention<br>
                When Air is Shut Off
              </h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">Even if the air supply is cut off, the shut-off valve activates and the arm stops in place. This prevents heavy objects from falling and ensures safety.</p>
                <div class="common-section__card-image  --image08">
                  <img src="../assets/images/feature/feature_list_img_08.jpg" alt="Because it is an all-air specification that does not require a power source, it can be used safely even in sites where explosion-proofing is required.">
                </div>
              </div>
            </li>
            <li class="common-section__card">
              <h4 class="common-section__card-title">Drop Prevention Function</h4>
              <div class="common-section__card-box">
                <p data-mh="listTxt01" class="common-section__card-text">
                  The vacuum specification attachment is equipped with a safety function to prevent accidental button presses due to incorrect operation.<br>
                  Even in the event of an incorrect operation, it prevents heavy objects from falling and enhances work safety.
                </p>
                <div class="common-section__card-image  --image09">
                  <img src="../assets/images/feature/feature_list_img_09.png" alt="Drop Prevention Function">
                </div>
              </div>
            </li>
          </ul>
  
          <div class="feature__movie-wrap">
            <%- include('../includes/component/_movie_youtube.ejs', {videoId: "Kjz2mt2KfkY"}); %>
          </div>
        </div>

        <div class="feature__link-btn-wrap common__link-btn-overlap">
          <a id="downloadLink02" class="feature__link-btn common__link-btn-overlap-btn -arrow common-arrow" href="https://www.ckd.co.jp/kiki/en/product/detail/1078/">Click here for Catalogs</a>
          <div class="common__link-btn-bg"></div>
        </div>
      </div>
    </section>

    <section id="chart" class="chart">
      <div class="l-inner">
        <h2 class="chart__title">
          Assisting Device Comparison Chart 
        </h2>
        <p class="chart__lead">We have summarized the feature differences for assisting devices that are often considered alongside the Flex Arm.</p>
        <div class="chart__table-wrapper">
          <table class="chart__table" border="2" style="border-collapse: collapse">
              <tr>
                  <th class="-topHeading column2" colspan="2"></th>
                  <th class="-topHeading">Compactness</th>
                  <th class="-topHeading">Mobility</th>
                  <th class="-topHeading">Range of motion</th>
                  <th class="-topHeading">Payload</th>
                  <th class="-topHeading">Price</th>
              </tr>
              <tr>
                  <th class="-heading">Flex Arm</th>
                  <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_01.png"></td>
                  <td class="">-</td>
                  <td class="">+</td>
                  <td class="">+</td>
                  <td class="">-</td>
                  <td class="">++</td>
              </tr>
              <tr>
                <th class="-heading">Arm balancer</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_02.png"></td>
                <td class="">-</td>
                <td class="">-</td>
                <td class="">+</td>
                <td class="">++</td>
                <td class="">-</td>
              </tr>
              <tr>
                <th class="-heading">Hoisting balancer</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_03.png"></td>
                <td class="">
                  -
                  <span class="">
                    (If horizontal rails for<br>
                    motion is required)
                  </span>
                </td>
                <td class="">-</td>
                <td class="">
                  --
                  <span class="">
                    (Mark "＋" for<br>
                    horizontal rails)
                  </span>
                </td>
                <td class="">+</td>
                <td class="">
                  -
                  <span class="">
                    (If horizontal rails for<br>
                    motion is required)
                  </span>
                </td>
              </tr>
              <tr>
                <th class="-heading">Power suit</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_04.png"></td>
                <td class="">++</td>
                <td class="">++</td>
                <td class="">++</td>
                <td class="">--</td>
                <td class="">-</td>
              </tr>
              <tr>
                <th class="-heading">Industrial robot</th>
                <td class="-images s-img"><img src="../assets/images/feature/feature_table_img_05.png"></td>
                <td class="">
                  -
                  <span class="">(Fences, etc., required)</span>
                </td>
                <td class="">-</td>
                <td class="">+</td>
                <td class="">+</td>
                <td class="">--</td>
              </tr>
          </table>
        </div>
        <p class="chart__table-note">* The above is based on general standards.These do not necessarily apply. The price shall include the installation cost.</p>
      </div>
    </section>
    
    <section id="line-up" class="line-up">
      <div class="l-inner">
        <h2 class="line-up__title">Options</h2>
        <p class="line-up__sub-title">Four Types of Installation Methods</p>
        <p class="line-up__lead">
          The Flex Arm allows you to choose from mainly the following four installation methods.<br>
          Flexible installation is possible to match the site's environment and needs.
        </p>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image01">
            <img src="../assets/images/feature/feature_line_up_img_01.png" alt="サイズL　低荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">Floor-mounted Fixed</h3>
            <p class="line-up__block-text">
              Used by fixing it to the floor with anchors.<br>
              This is the most adopted specification, optimal for locations where the work area is fixed and installation on the floor is possible.
            </p>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image02">
            <img src="../assets/images/feature/feature_line_up_img_02.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">Floor-mounted Pallet</h3>
            <p class="line-up__block-text">
              During installation, it is fixed to the floor with angles or similar items.<br>
              This specification is optimal when it will be used in multiple locations or if there is a possibility of changing the installation location in the future.<br>
              We assume the use of a forklift for moving it,<br>
              but please consult with us if you are considering other moving methods.
            </p>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image03">
            <img src="../assets/images/feature/feature_line_up_img_03.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">Column-mounted</h3>
            <p class="line-up__block-text">
              This specification allows installation if there is a nearby column, even when installation space on the floor cannot be secured.<br>
              Since it leaves the floor area clear, it does not obstruct work flow lines, enabling an efficient layout.<br>
              *Column strength verification is required for installation.
            </p>
            <div class="line-up__block-movie common-movie--small">
              <div class="common-movie-wrap">
                <a data-target="modal01" class="common__js_modal_open" href="">
                  <img src="../assets/images/feature/movie_thumb_02.jpg" alt="サムネイル">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="line-up__block">
          <div class="line-up__image-block line-up__img-block--small --image04">
            <img src="../assets/images/feature/feature_line_up_img_04.png" alt="サイズH　高荷重モデル">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">Ceiling-mounted</h3>
            <p class="line-up__block-text">
              This is a method of fixing it to the ceiling when there is no installation space on the floor.<br>
              If installation is difficult due to the ceiling's height, strength, or structure, flexible solutions such as installing a scaffold or mounting to a rail system are also possible.<br>
              *Ceiling strength verification is required for installation.
            </p>
          </div>
        </div>
        <div class="line-up__block line-up__block--margin-large">
          <div class="line-up__image-block line-up__img-block--small --image05">
            <img src="../assets/images/feature/feature_line_up_img_05.png" alt="">
          </div>
          <div class="line-up__text-block">
            <h3 class="line-up__block-title">Arm Tip Attachments</h3>
            <p class="line-up__block-text">
              The tip of the Flex Arm is equipped with a suspension hook as standard.<br>
              By attaching various attachments to the suspension hook, it can handle a variety of workpieces.<br>
              Customization according to the customer's application is also possible.
            </p>
            <div class="line-up__block__link-btn-wrap common__link-btn-overlap">
              <a class="line-up__block__link-btn common__link-btn-overlap-btn -arrow common-arrow" href="../attachment/">Click here for Attachments </a>
              <div class="common__link-btn-bg"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <div id="modal01" class="common__modal common__js_modal">
    <div class="common__modal_bg common__js_modal_close"></div>
    <div class="common__modal-content">
      <div class="common__movie-wrap">
        <div class="common__movie-container">
          <%- include('../includes/component/_movie_youtube.ejs', {videoId: "WQhBsfSZBR4"}); %>
        </div>
        <div class="common__close common__js_modal_close"></div>
      </div>
    </div>
  </div>
  <%- include('../includes/_footer.ejs', {path: "../"}); %>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.2/jquery.matchHeight-min.js"></script>
  <script src="../assets/js/index.js?20221206"></script>
</body>

</html>